body {
    background-color:white;
}

.col{
  /* background-color: #bdb2a4; */
  background-color: #C5C6C7;
  padding: 5%;
}

.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Padding bottom by footer height */
  padding-bottom: 80px;
  /* text-align: justify; */
}

.article{
  text-align: justify;
  margin-top: 5%;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}


table{
  text-align: center;
}

.jumbotron {
  padding: 30px;
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: white;
  /*background-color: #557a95;*/
  background-color: #66FCF1;
  /* margin-top: 0%; */
}

.navbar {
  margin-bottom: .1%;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #f5f5f5;
}

#footer p {
  margin: 0;
  font-size: 16px;
}

/* MD styling */
@media (max-width: 768px) {
  .container {
    /* width: inherit; */
    min-width: 100%;
  }
}
